<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  
	Location if the MaxMind database file.
      -->
      <setting name="Sitecore.SharedSource.GeoLiteResolver.DataFile" value="~/App_Data/GeoIP.dat"/>      
    </settings>
  </sitecore>
</configuration>
